.papa {
  left:25%;
  width:50%;
  height:50%;
  top:55%;
  position:absolute;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.styled-select select {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   width: 230px;
   height: 34px;
   overflow: hidden;
  text-indent: 45px;
   border: 0.5px solid #ccc;
   -webkit-appearance: none;
   -ms-interpolation-mode: nearest-neighbor;

   }
.footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:rgba(0,0,0,0.2);
  font-size: 14px;

}
.background {
  background-image: url(../img/shirt_500x500.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  position: absolute;
  opacity: .75;
  width: 100%;
  z-index: -1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
.papa {
  left:15%;
  width:50%;
  height:50%;
  top:55%;
  position:absolute;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.styled-select select {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   width: 230px;
   height: 34px;
   overflow: hidden;
  text-indent: 45px;
   border: 0.5px solid #ccc;
   -webkit-appearance: none;
   -ms-interpolation-mode: nearest-neighbor;

   }
.footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:rgba(0,0,0,0.2);
  font-size: 14px;

}
.background {
  background-image: url(../img/shirt_500x500.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  position: absolute;
  opacity: .75;
  width: 100%;
  z-index: -1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
.papa {
  left:21%;
  width:50%;
  height:50%;
  top:55%;
  position:absolute;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.styled-select select {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   width: 230px;
   height: 34px;
   overflow: hidden;
  text-indent: 45px;
   border: 0.5px solid #ccc;
   -webkit-appearance: none;
   -ms-interpolation-mode: nearest-neighbor;

   }
.footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:rgba(0,0,0,0.2);
  font-size: 14px;

}
.background {
  background-image: url(../img/shirt_500x500.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  position: absolute;
  opacity: .75;
  width: 100%;
  z-index: -1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
}

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
.papa {
  left:24%;
  width:50%;
  height:50%;
  top:55%;
  position:absolute;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.styled-select select {
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   width: 230px;
   height: 34px;
   overflow: hidden;
  text-indent: 45px;
   border: 0.5px solid #ccc;
   -webkit-appearance: none;
   -ms-interpolation-mode: nearest-neighbor;

   }
.footer {
  position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:rgba(0,0,0,0.2);
  font-size: 14px;

}
.background {
  background-image: url(../img/shirt_500x500.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  position: absolute;
  opacity: .75;
  width: 100%;
  z-index: -1;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
}